*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 }

body {
 	height: 100%;
 	width: 100%;
 	overflow-x: hidden;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* LAYOUT */
.container {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	padding: 64px;
}
.medium-container {
	max-width: 640px;
	margin: 0 auto;
}
.large-container {
	max-width: 960px;
	margin: 0 auto;
}
.fullsize-container {
	width: 100%;
	height: 100vh;
	padding: 16px;
	position: relative;
	text-align: center;
}

/* TYPOGRAPHY */
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #545454;
}

h1, h2, h3, h4, h5 {
	font-family: 'Merriweather', serif;
	text-align: center;
	line-height: 2;
}
h1, h2, h3, h4 {
	font-weight: 700;
}
h1, h2 {
	font-size: 36px;
}
h3 {
	font-size: 18px;
}
h5 {
	font-weight: 300;
}
p {
	line-height: 1.5;
	font-weight: 400;
}
strong {
	font-weight: 700;
}
em {
	font-style: italic;
	font-size: 12px;
	line-height: 2;
}

/* SPLASH  */
.section-splash {
	width: 100%;
	height: 100vh;
	padding: 16px;
	background-image: url(../images/teacher-with-students.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
}
.headline-wrapper {
	margin-top: 300px;
}
.ie8 .headline-wrapper, .ie9 .headline-wrapper {
	margin-bottom: 200px;
}
.headline-wrapper a {
	color: #329FD8;
}
.headline {
	font-family: 'Merriweather', serif;
	line-height: 2;
	font-size: 36px;
	background: #52D2C4;
	display: inline-block;
	margin: 0 auto;
	clear: both;
	padding: 16px;
	background: #52D2C4;
	color: white;
	font-weight: 700;
}
.logo {
	position: absolute;
	left: 16px;
}
.learn-more-wrapper {
	background: #F37070;
	height: 78px;
	width: 160px;
	position: absolute;
	bottom: 0;
	margin-left: 50%;
	left: -80px;
	border-radius: 100px 100px 0 0;
}
.learn-more-text-wrapper {
	position: relative;
}
.learn-more-text-wrapper img {
	margin-top: 60px;
}
.ie8 .learn-more-text-wrapper img, .ie9 .learn-more-text-wrapper img{
	display: none;
}
.learn-more-wrapper span {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	color: white;
	position: absolute;
	width: 96px;
	height: 70px;
	margin-top: 50%;
	top: -48px;
	left: 35px;

}
.ie8 .learn-more-wrapper span, .ie9 .learn-more-wrapper span {
	margin-top: 24px;
	top: 16px;
}

/* INTRO */
.section-intro {
	border-left: 8px solid #F37070;
}
.intro-row {
	max-width: 626px;
	margin: 24px auto;
	padding-bottom: 24px;
	position: relative;
	border-bottom: 1px solid #DCDCDC;
}
.intro-row:first-of-type {
	margin-top: 64px;
}
.intro-row:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}
.intro-illustration-wrapper {
	width: 100px;
	height: 100px;
	float: left;
	left: 0;
}
.intro-illustration-wrapper img {
	width: 100%;
}
.intro-content {
	margin-left: 130px;
	max-width: 438px;
}
.intro-content p {
	font-weight: 300;
}

/* HOW IT WORKS */
.section-howItWorks {
	background: #5ED3C4;
	position: relative;
	padding: 48px 16px;
	min-height: 900px;
}
.section-4steps {
	min-height: 800px;
}
.section-howItWorks h1 {
	color: #32756C;
	margin: 0 auto;
}
.left {
	position: absolute;
	max-width: 360px;
	margin-top: 32px;
}
.right {
	margin-left: 400px;
	position: absolute;
	max-width: 1350px;
	min-height: 750px;
	margin-top: 32px;
}
.screenshot-wrapper {
	position: absolute;
	width: 600px;
}
.screenshot {
	width: 100%;
}
.steps li {
	margin-bottom: 16px;
}
.steps h4 {
	float: left;
	display: inline-block;
	margin-left: 40px;
	font-weight: 700;
	text-align: left;
}
.steps li>a{
	position: relative;
	background: #8DE3D8;
	border-radius: 8px;
	padding: 8px;
	display: inline-block;
	width: 100%;
	border-bottom: 4px solid #42978C;
	color: #42978C;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	cursor: pointer;
	transition: all .3s;

}
.steps li>a:hover {
	background: #81CFC5;
	color: white;
}
.steps li>a:active, .steps li>a.is-active {
	background: #42978C;
	color: white;
}
.number-decoration {
	left: 8px;
	position: absolute;
	background: white;
	border-radius: 100%;
	border: 4px solid #5ED3C4;
	color: black;
	display: inline-block;
	width: 32px;
	height: 32px;
	text-align: center;
}
.number-decoration span {
	display: inline-block;
	margin-top: 3px;
}

.instructions {
	display: none;
	margin-top: 8px;
}
.is-active + .instructions {
	display:block
}
.instructions p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 16px;
	color: #35766C;
	margin-left: 8px;
}
.instructions a {
	color: white;
	text-decoration: none;
	border-bottom: 2px dotted white;
}

/* GET STARTED */
.section-getStarted {
	background: #FFA54B;
	text-align: center;
}
.section-getStarted h2 {
	color: white;
	margin-bottom: 8px;
	font-weight: 900;
}
.primary-cta, .secondary-cta {
	border: none;
	background: #6ED171;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-decoration: none;
	color: white;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 12px;
	transition: all .3s;
}
.primary-cta:hover, .secondary-cta:hover {
	background: #65BA67;
}
.primary-cta:active {
	background: #4F9E51;
}
.primary-cta img {
	margin-left: 12px;
}
.primary-cta {
	padding: 14px 38px 24px 32px;
	font-size: 24px;
	border-radius: 8px;
	box-shadow: inset 0 -6px 0 0 #459451;
	margin-top: 16px;
	/*border-bottom: 6px solid #4F9E51;*/
}
.secondary-cta {
	padding: 9px 18px 10px;
	font-size: 16px;
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 0 #459451;
}

/* EMAIL FORM*/
form {
	margin-top: 8px;
}
.email-label {
	display: none;
}
input[type=email] {
	border: 1px solid #d1d1d1;
	width: 50%;
	display: inline-block;
	webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  -ms-border-radius: 3px;
	  -o-border-radius: 3px;
	  border-radius: 3px;
	webkit-box-shadow: inset 0 2px 2px 0px #EDF0F0;
	  -moz-box-shadow: inset 0 2px 2px 0px #EDF0F0;
	  box-shadow: inset 0 2px 2px 0px #EDF0F0;
	margin: 16px 0;
	font-size: 16px;
	line-height: 1.4;
	padding: 0 .75em;
	height: 40px;
	overflow: auto;
	outline: none;
	background: white;
}
input[type=email]:focus {
	border: 1px solid #329FD8;
}
span.reminder-text {
	display: none;
	font-weight: 400;
	margin-left: 155px;
	border-radius: 3px;
	font-size: 12px;
	padding: 8px;
	background: #5A5A5A;
	color: white;
	position: absolute;
}
span.reminder-text:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	border-bottom-color: #5A5A5A;
	border-width: 6px;
	margin-left: 8px;
	margin-top: -18px;
	position: absolute;
	pointer-events: none;
}
input[type=email]:focus + span.reminder-text {
	display: block;
}

/* PARTNERS */
.section-partners {
	padding: 80px;
	color: #545454;
	border-left: 8px solid #F37070;
}
.logo-wall {
	max-width: 640px;
	display: block;
	margin: 48px auto 0;
}

/* CONTACT */
.section-contact {
	background: #ECEAEA;
	padding: 16px;
	text-align: center;
}
.section-contact p {
	font-size: 14px;
}
.section-contact a, .section-faq a {
	color: #329FD8;
	text-decoration: none;
	border-bottom: 2px dotted;
}

/* FAQ */
.section-faq {
	padding: 36px;
	display: none;
	background: #ECEAEA;
}
.section-faq p{
	font-size: 14px;
	line-height: 2;
}
.section-faq h2 {
	margin-bottom: 32px;
}
.section-faq h4 {
	text-align: left;
}
.faq li {
	margin-bottom: 24px;
}

/* RESPONSIVE */
@media screen and (max-width: 1280px) {
	/* SPLASH */
	.headline-wrapper {
		margin-top: 200px;
	}
	.headline {
		font-size: 28px;
	}
}
@media screen and (max-width: 800px) {
	.container, .medium-container, .large-container, .section-partners {
		padding: 48px;
	}
	.right, .left, .screenshot-wrapper {
		position: relative;
		margin: 0 auto;
	}
	.left {
		max-width: 100%;
		margin-top: 24px;
	}
	.right {
		min-height: 0;
	}
	.screenshot-wrapper, .logo-wall {
		max-width: 100%;
	}
	span.reminder-text {
		margin-left: 0;
	}
	span.reminder-text:before {
		margin-left: 100px;
	}

@media screen and (max-width: 640px) {
	.logo {
		position: relative;
		margin: 16px auto;
		left: 0;
	}
	.container, .medium-container, .large-container, .section-partners {
		padding: 32px;
	}
	.section-howItWorks {
		padding: 0;
	}
	h1, .headline {
		font-size: 18px;
	}
	.headline {
		padding: 6px;
	}
	h2, h3 {
		font-size: 16px;
	}
	h5, p {
		font-size: 14px;
	}
	.section-splash {
		height: 95vh;
	}

	/* INTRO */
	.intro-illustration-wrapper {
		float: none;
		margin: 0 auto;
	}
	.intro-content {
		max-width: 100%;
		margin: 24px 0 0 0;
	}
	.intro-row:first-of-type {
		margin-top: 24px;
	}

	/* CALL TO ACTION */
	.primary-cta {
		font-size: 18px;
		padding: 12px 18px;
	}
	.primary-cta img {
		width: 8px;
	}
}
@media screen and (max-width: 360px) {
	.container, .medium-container, .large-container, .section-partners {
		padding: 24px;
	}
	h1, .headline {
		font-size: 18px;
	}
	.headline-wrapper {
		margin-top: 200px;
	}
	h5 {
		text-align: left;
	}
	.primary-cta {
		display: block;
		width: 100%;
		padding: 16px 0 20px;
	}
	.primary-cta img {
		display: none;
	}
	input[type=email] {
		display: block;
		width: 100%;
	}
	.secondary-cta {
		display: block;
		width: 100%;
	}
}
@media screen and (max-height: 670px) {
	.headline-wrapper {
		margin-top: 50px;
	}
}
@media screen and (max-height: 460px) {
	.headline-wrapper {
		margin-top: 50px;
	}
	.learn-more-wrapper {
		display: none;
	}
}